body{
    font-family:monospace;
    text-align:center;
}
#btnSaveSign {
    color: #fff;
    background: #0a0133;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}
#signArea{
    width:50%;
    margin: 50px auto;
}
.sign-container {
    width: 70%;
    margin: auto;
}
.sign-preview {
    width: 150px;
    height: 50px;
    border: solid 1px #CFCFCF;
    margin: 10px 5px;
}
.tag-ingo {
    font-family: cursive;
    font-size: 15px;
    text-align: left;
    font-style: oblique;
}

.pdf {
  color: rgb(249, 250, 249);
  background-color:  rgb(4, 43, 28);
  margin: auto;
}

#pdf-box {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
